---
const currentPath = Astro.url.pathname;
---

<header
    class="fixed top-0 w-full px-10 py-4 flex items-center justify-between backdrop-blur-md z-50"
>
    <h1 class="text-xl font-semibold">
        <a href="/" class="flex items-center space-x-1">
            <span
                class="bg-gradient-to-r from-[#f6e05e] via-[#b2e672] to-[#f9b26b] bg-clip-text text-transparent"
            >
                Yuzunix
            </span>
            <span class="text-gray-800">Works</span>
        </a>
    </h1>

    <nav
        class="absolute left-1/2 transform -translate-x-1/2 flex space-x-8 text-base font-medium"
    >
        <a
            href="/about"
            class={`relative after:block after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-[#f6e05e] after:transition-all after:duration-300 hover:after:w-full ${
                currentPath === "/about" ? "text-[#f6e05e]" : "text-gray-800"
            }`}
        >
            About
        </a>
        <a
            href="/projects"
            class={`relative after:block after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-[#f6e05e] after:transition-all after:duration-300 hover:after:w-full ${
                currentPath === "/projects" ? "text-[#f6e05e]" : "text-gray-800"
            }`}
        >
            Projects
        </a>
        <a
            href="/services"
            class={`relative after:block after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-[#f6e05e] after:transition-all after:duration-300 hover:after:w-full ${
                currentPath === "/services" ? "text-[#f6e05e]" : "text-gray-800"
            }`}
        >
            Services
        </a>
    </nav>
</header>
